@import url('./forms-style.css');
@font-face {
    font-family: 'BNazanin';
    src        : url('../font/BNazanin.ttf') format('truetype');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
}
@font-face {
    font-family: 'Iraniansans';
    src        : url('../font/Iraniansans.ttf') format('truetype');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yekan';
    src        : url('../font/Yekan.ttf') format('truetype');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'iranyekan';
    src        : url('../font/IRANYekanMobileFaNum.eot');
    src        : url('../font/IRANYekanMobileFaNum.eot?#iefix') format('embedded-opentype'),
        url('../font/IRANYekanMobileFaNum.ttf') format('truetype');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'iranyekan';
    src        : url('../font/IRANYekanMobileFaNum-Light.eot');
    src        : url('../font/IRANYekanMobileFaNum-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/IRANYekanMobileFaNum-Light.ttf') format('truetype');
    font-weight : 300;
    font-style  : normal;
    font-display: swap;
}

@font-face {
    font-family: 'iranyekan';
    src        : url('../font/IRANYekanMobileFaNum-Bold.eot');
    src        : url('../font/IRANYekanMobileFaNum-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/IRANYekanMobileFaNum-Bold.ttf') format('truetype');
    font-weight : bold;
    font-style  : normal;
    font-display: swap;
}
p{
    font-family: "iranyekan";
    font-size:medium ;
}
.test{
    margin: 20px;
    font-family: iranyekan;
  }
span{
    font-family: "Yekan"
}
/* * {
    outline: none !important;
} */

body {
    font-family: iranyekan;
    /* font-size: 4vw; */
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.tst{
    font-family: iranyekan;
}
ul li,
ol li {
    list-style-type: none;
}

ul,
ol {
    margin : 0;
    padding: 0;
}

/*
========================
login_container
========================
*/
.login_container {
    min-height   : 100vh;
    background   : #fafafa;
    padding-right: 2rem;
    padding-left : 2rem;
}
.shop-image {
    width: 100px;
    height: 100px;
}
.logo_place {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 32vh;
    padding        : 0 13%;
}

.button.blue {
    border-radius: 10px;
    color        : #fff;
    background   : rgb(19, 179, 179);
    background   : linear-gradient(90deg, rgba(19, 179, 179, 1) 0%, rgba(84, 222, 222, 1) 100%);
    font-size    : 15pt;
    padding      : 10px 5px;
}

.button.green {
    border-radius: 10px;
    color        : #fff;
    background   : #2ecc71;
    font-size    : 15pt;
    padding      : 10px 5px;
}

.button.small {
    font-size: 11pt;
}

/*
==================================
Displaying classes
==================================
*/

.display_flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.align_items_center {
    -webkit-align-items: center;
    -moz-align-items   : center;
    -ms-align-items    : center;
    -o-align-items     : center;
    align-items        : center;
}

.align_items_flex_start {
    -webkit-align-items: flex-start;
    -moz-align-items   : flex-start;
    -ms-align-items    : flex-start;
    -o-align-items     : flex-start;
    align-items        : flex-start;
}

.align_items_flex_end {
    -webkit-align-items: flex-end;
    -moz-align-items   : flex-end;
    -ms-align-items    : flex-end;
    -o-align-items     : flex-end;
    align-items        : flex-end;
}

.justify_content_between {
    -webkit-justify-content: space-between;
    -moz-justify-content   : space-between;
    -ms-justify-content    : space-between;
    -o-justify-content     : space-between;
    justify-content        : space-between;
}

.justify_content_center {
    -webkit-justify-content: center;
    -moz-justify-content   : center;
    -ms-justify-content    : center;
    -o-justify-content     : center;
    justify-content        : center;
}

.justify_content_around {
    -webkit-justify-content: space-around;
    -moz-justify-content   : space-around;
    -ms-justify-content    : space-around;
    -o-justify-content     : space-around;
    justify-content        : space-around;
}

.justify_content_flex_end {
    -webkit-justify-content: flex-end;
    -moz-justify-content   : flex-end;
    -ms-justify-content    : flex-end;
    -o-justify-content     : flex-end;
    justify-content        : flex-end;
}

.flex_direction_column {
    -webkit-flex-direction: column;
    -moz-flex-direction   : column;
    -ms-flex-direction    : column;
    -o-flex-direction     : column;
    flex-direction        : column;
}

.display_flex.expanded>* {
    -webkit-box-flex: 1;
    -webkit-flex    : 1 1 0px;
    -ms-flex        : 1 1 0px;
    flex            : 1 1 0px;
}

.flex_wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap   : wrap;
    -ms-flex-wrap    : wrap;
    -o-flex-wrap     : wrap;
    flex-wrap        : wrap;
}

.jaryan_header {
    margin         : 0 0 15px 0;
    padding        : 13px 1.5rem;
    float          : none;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    position       : relative;
    z-index        : 1;
}

.header_actions {
    display    : flex;
    align-items: center;
}

.header_actions>*:not(:first-child) {
    margin-right: 8px;
}

.p0 {
    padding: 0 !important;
}

.menu_icon {
    padding: 0 0 0 10px;
    color  : #15b4b4;
    display: flex;
}

.menu_icon svg {
    width : 20px;
    height: 20px;
}

.back_btn {
    border         : 1px solid #e4e4e4;
    border-radius  : 7px;
    font-size      : 15pt;
    width          : 27px;
    height         : 27px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    color          : #1f2022;
}

.bg .back_btn {
    background: rgba(0, 0, 0, 0.15);
    color     : #fff !important;
    border    : 0 none
}

.bg .menu_icon path {
    fill: #fff !important;
}

.bg .page_title {
    color: #fff;
}

.page_with_menu {
    min-height: 100vh;
    background: #fafafa;
}

.page_title {
    color: #5f5f5f;
}

.page_content {
    padding-right : 1.5rem;
    padding-left  : 1.5rem;
    padding-bottom: 5rem;
    position      : relative;
    z-index       : 1;
}

.search_box {
    background     : #fff;
    padding        : 15px 15px;
    border-radius  : 15px;
    box-shadow     : 0px 5px 22px -10px #5f606763;
    display        : flex;
    align-items    : flex-start;
    flex-direction: row;
    justify-content: space-between;
    color          : #4b4c66;
    margin         : 0 0 20px 0;
}

.search_box img {
    flex-wrap: 1;
    width : 100px;
    margin: 0 10px 0 0;
}

.search_box .title {
    font-weight : bold;
    word-spacing: -2px;
    font-size   : 14pt;
    margin      : 10px 0 15px 0;
}
.search_box img {
    width: 30%;
    height: auto;
}
.search_box .row {
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
    word-spacing: -2px;
    font-size   : 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row .first{
    flex-grow: 2;
}
.row .second{
    flex-grow: 2;
}
.search_box .des {
    font-weight : bold;
    font-size   : 11pt;
    word-spacing: -2px;
    margin      : 0 0 5px 0;
}

.search_box .button {
    font-size    : 10pt;
    padding      : 6px 15px;
    margin       : 0;
    border-radius: 30px;
}

.site_menu {
    display        : flex;
    align-items    : flex-start;
    justify-content: space-between;
    flex-wrap      : wrap;
}

.site_menu a {
    width         : 46%;
    display       : flex;
    align-items   : center;
    flex-direction: column;
    background    : #fff;
    border-radius : 10px;
    box-shadow    : 0px 5px 22px -10px #5f606763;
    padding       : 20px 15px;
    color         : #4b4c66;
    margin-bottom : 20px;
    word-spacing  : -3px;
}

.site_menu a svg {
    width : 65px;
    height: 50px;
    margin: 0 0 15px 0;
}
.site_menu a:nth-last-child(2) {
    width          : 100%;
    flex-direction : row;
    align-items    : center;
    justify-content: space-between;
}

.site_menu a:nth-last-child(2)  svg {
    margin: 0;
}
.site_menu a:nth-last-child(1) {
    width          : 100%;
    flex-direction : row;
    align-items    : center;
    justify-content: space-between;
}
.site_menu a:nth-last-child(1)  svg {
    margin: 0;
}

.color_gray {
    color: #979797;
}

.color_green {
    color: #15b4b4;
}

.font_10 {
    font-size: 10pt;
}

/*
------------------------------------
Loading in all pages
------------------------------------
*/
.loading_apge {
    position               : fixed;
    top                    : 0;
    right                  : 0;
    width                  : 100%;
    height                 : 100%;
    display                : -webkit-flex;
    display                : -moz-flex;
    display                : -ms-flex;
    display                : -o-flex;
    display                : flex;
    -webkit-align-items    : center;
    -moz-align-items       : center;
    -ms-align-items        : center;
    -o-align-items         : center;
    align-items            : center;
    -webkit-justify-content: center;
    -moz-justify-content   : center;
    -ms-justify-content    : center;
    -o-justify-content     : center;
    justify-content        : center;
}

.loading_apge img {
    width: 80px;
}
.user_detail{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_box {
    background   : #fff;
    padding      : 15px;
    border-radius: 15px;
    box-shadow   : 0px 5px 22px -10px #5f606763;
    color        : #4b4c66;
    margin       : 0 0 20px 0;
}
.parent svg {
    width : 30px;
    height: 30px;
}
.place_item {
    background   : #fff;
    padding      : 10px;
    border-radius: 15px;
    box-shadow   : 0px 2px 14px -5px rgb(95 96 103 / 40%);
    color        : #4b4c66;
    margin       : 0 0 15px 0;
    display      : flex;
    align-items  : center;
}
.shop_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    margin: 5px;
    font-weight: bold;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.verify svg {
    width  : 100px ;
    height: 100px; 
    
}
.box_animation {
    background     : linear-gradient(-45deg, #34e1c2, #28b1b3, #39c5c6, #2ae2e3);
    background-size: 400% 400%;
    animation      : gradient 15s ease infinite;
    position       : absolute;
    top            : 0;
    right          : 0;
    left           : 0;
    height         : 150px;
    z-index        : 0;
}

.place_item img {
    width        : 65px;
    margin       : 0 0 0 15px;
    border-radius: 5px;
}

.place_item .title {
    color       : #58bbf6;
    font-weight : bold;
    font-size   : 10pt;
    word-spacing: -2px;
    margin      : 0 0 4px 0;
}

.place_item ul {
    display    : flex;
    align-items: center;
    margin     : 0 0 8px 0;
}

.place_item ul li {
    color       : #9a9bb0;
    margin      : 0 0 0 10px;
    font-size   : 8pt;
    position    : relative;
    padding-left: 10px;
}

.place_item ul li:first-child:before {
    content      : "";
    width        : 3px;
    height       : 3px;
    border-radius: 50%;
    position     : absolute;
    left         : 0;
    top          : 0;
    bottom       : 0;
    margin       : auto;
    background   : #9a9bb0;
}

.place_item .contact {
    display    : flex;
    align-items: center;
    font-size  : 10pt;
}

.place_item .contact .mdi {
    color: #fa416b;
}

/*
---------------------------------------------
simple html pop up
---------------------------------------------
*/
.swal2-content {
    text-align: inherit !important;
    padding   : 15px 0 !important;
}

.swal2-popup {
    padding: 0 !important;
}

.binobat_popup {
    background   : #fff;
    border-radius: 5px;
    box-shadow   : 0 0 60px 0 rgba(0, 0, 0, 0.5);
    position     : relative;
    padding      : 15px;

}

.binobat_popup .close_modal {
    position: absolute;
    left    : 10px;
    top     : 10px;
}

.binobat_popup .title {
    font-weight: bold;
    font-size  : 14pt;
    margin     : 0 0 10px 0;
    display    : block;
}

.text-small {
    font-size   : 10pt;
    text-align  : justify;
    word-spacing: -2px;
}

label.uploader {
    background         : #fff url(../images/cloud-computing.png) no-repeat;
    background-size    : 40px;
    background-position: center;
    border             : 2px dashed rgba(0, 0, 0, 0.1);
    margin             : 10px 0 0 0;
    border-radius      : 10px;
    display            : flex;
    align-items        : center;
    justify-content    : center;
    height             : 70px;
}

label.uploader input {
    opacity   : 0;
    visibility: hidden;
    width     : 0;
    height    : 0;
}

.m0 {
    margin: 0 !important;
}

.flex_grow {
    flex-grow: 1;
}

.map_contaiber {
    height  : calc(100vh - 53px);
    position: relative;
    top     : -15px;
}

