/*
-------------------------------------------
typography
-------------------------------------------
*/
@font-face {
  font-family: 'iranyekan';
  src        : url('../font/IRANYekanMobileFaNum.eot');
  src        : url('../font/IRANYekanMobileFaNum.eot?#iefix') format('embedded-opentype'),
      url('../font/IRANYekanMobileFaNum.ttf') format('truetype');
  font-weight : normal;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'iranyekan';
  src        : url('../font/IRANYekanMobileFaNum-Light.eot');
  src        : url('../font/IRANYekanMobileFaNum-Light.eot?#iefix') format('embedded-opentype'),
      url('../font/IRANYekanMobileFaNum-Light.ttf') format('truetype');
  font-weight : 300;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'iranyekan';
  src        : url('../font/IRANYekanMobileFaNum-Bold.eot');
  src        : url('../font/IRANYekanMobileFaNum-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/IRANYekanMobileFaNum-Bold.ttf') format('truetype');
  font-weight : bold;
  font-style  : normal;
  font-display: swap;
}
.link {
  color  : #13b3b3;
  display: block;
}

.galaxy-form-error {
  color    : #e74c3c;
  margin   : 0 0 15px 0;
  display  : block;
  font-size: 10pt;
}

/*
  -------------------------------------------
  Galaxy input
  -------------------------------------------
  */
 
  .galaxy-input {
    position: relative;
    padding-top: 20px;
    margin: 15px;
  }
  .galaxy-input input {
    outline: none;
    position: relative;
    background: none;
    width: 100%;
    height: 50px;
    border: 0 none !important;
    color: #13b3b3;
    font-size: 14pt;
    font-weight: 300;
    padding-left: 35px;
    font-family: "iranyekan";
    background: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
  .galaxy-input .mdi {
    position: absolute!important;
    left: 5px;
    bottom: 5px;
    font-size: 18pt;
    color: rgba(0, 0, 0, 0.2);
    z-index: 1!important;
  }
  .galaxy-input label {
    position: absolute;
    right: 0;
    color: #4a4b4d;
    font-size: 18pt;
    font-weight: 300;
    transition: 0.35s ease;
    bottom: 10px;
    margin: 0;
  }
  .galaxy-input .bar {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
  }
  .galaxy-input .bar:before {
    content: "";
    position: absolute;
    background: #13b3b3;
    width: 0;
    height: 2px;
    transition: 0.2s ease;
    right: 0;
  }
  .galaxy-input .bar:after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 2px;
    transition: 0.2s ease;
    right: 0;
  }
.galaxy-input {
  position   : relative;
  padding-top: 25px;
  margin     : 15px;
}

.galaxy-input input {
  outline      : none;
  z-index      : 1;
  position     : relative;
  background   : none;
  width        : 100%;
  height       : 50px;
  border       : 0 none !important;
  color        : #13b3b3;
  font-size    : 12pt;
  font-weight  : 300;
  font-family: "iranyekan";
  padding-left : 35px;
  background   : none !important;
  box-shadow   : none !important;
  border-radius: 0 !important;
}

.galaxy-input .mdi {
  position      : absolute;
  left          : 5px;
  bottom        : 5px;
  font-size     : 18pt;
  color         : rgba(0, 0, 0, 0.2);
}

.galaxy-input label {
  position   : absolute;
  right      : 0;
  color      : #4a4b4d;
  font-size  : 12pt;
  font-weight: 300;
  transition : 0.35s ease;
  bottom     : 10px;
  margin     : 0;
}

.galaxy-input .bar {
  position: absolute;
  right   : 0;
  bottom  : 0;
  width   : 100%;
  height  : 2px;
}

.galaxy-input .bar:before {
  content   : "";
  position  : absolute;
  background: #13b3b3;
  width     : 0;
  height    : 2px;
  transition: 0.2s ease;
  right     : 0;
  z-index   : 1;
}

.galaxy-input .bar:after {
  content   : "";
  position  : absolute;
  background: rgba(0, 0, 0, 0.1);
  width     : 100%;
  height    : 2px;
  transition: 0.2s ease;
  right     : 0;
}

.galaxy-input input:focus~.bar:after,
.galaxy-input input:valid~.bar:after {
  width: 0;
  right: 0;
}

.galaxy-input:not(.has-val) input:focus~.bar:before {
  -webkit-animation-name     : bounceInLeft;
  animation-name             : bounceInLeft;
  -webkit-animation-duration : 1s;
  animation-duration         : 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
  animation-delay            : 0.25s;
}

.galaxy-input:not(.has-val) input:focus~label {
  color            : #999;
  -webkit-transform: translate(20%, -100%) scale(0.6);
  transform        : translate(20%, -100%) scale(0.6);
}

.galaxy-input input:valid~label,
.galaxy-input:not(.has-val) input~label {
  color            : #9d9d9d;
  -webkit-transform: translate(20%, -100%) scale(0.6);
  transform        : translate(20%, -100%) scale(0.6);
}

.galaxy-input.has-val input~.bar:before {
  width: 100%;
}

@keyframes bounceInLeft {
  0% {
    width: 0%;
  }

  40% {
    width: 103%;
  }

  50% {
    width: 97%;
  }

  70% {
    width: 102%;
  }

  80% {
    width: 99%;
  }

  100% {
    width: 100%;
  }
}

/*
  -------------------------------------------
  Galaxy Rating Stars
  -------------------------------------------
  */
.galaxy-rating {
  border: none;
}

.galaxy-rating>input {
  display: none;
}

.galaxy-rating>label:before {
  margin     : 0 1px;
  font-size  : 1.25em;
  font-family: "Material Design Icons";
  display    : inline-block;
  content    : "\F4CE";
}

.galaxy-rating>.half:before {
  content : "\F4CE";
  position: absolute;
}

.galaxy-rating>label {
  color: #ddd;
  float: right;
}

.galaxy-rating>input:checked~label,
.galaxy-rating:not(:checked)>label:hover,
.galaxy-rating:not(:checked)>label:hover~label {
  color: #ffd700;
}

.galaxy-rating>input:checked+label:hover,
.galaxy-rating>input:checked~label:hover,
.galaxy-rating>label:hover~input:checked~label,
.galaxy-rating>input:checked~label:hover~label {
  color: #ffed85;
}

/*
  -------------------------------------------
  Galaxy Switch
  -------------------------------------------
  */
.galaxy-switch-s1 {
  height             : 2rem;
  position           : relative;
  margin-bottom      : 1rem;
  outline            : 0;
  font-size          : 0.875rem;
  font-weight        : bold;
  color              : #fefefe;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}

.galaxy-switch-s1 .switch-input {
  position     : absolute;
  margin-bottom: 0;
  opacity      : 0;
}

.galaxy-switch-s1 input+.switch-paddle {
  margin: 0;
}

.galaxy-switch-s1 .switch-paddle {
  position          : relative;
  display           : block;
  width             : 4rem;
  height            : 2rem;
  border-radius     : 0;
  background        : #cacaca;
  -webkit-transition: all 0.25s ease-out;
  transition        : all 0.25s ease-out;
  font-weight       : inherit;
  color             : inherit;
  cursor            : pointer;
}

.galaxy-switch-s1 .switch-paddle::after {
  position          : absolute;
  top               : 0.25rem;
  left              : 0.25rem;
  display           : block;
  width             : 1.5rem;
  height            : 1.5rem;
  -webkit-transform : translate3d(0, 0, 0);
  transform         : translate3d(0, 0, 0);
  border-radius     : 0;
  background        : #fefefe;
  -webkit-transition: all 0.25s ease-out;
  transition        : all 0.25s ease-out;
  content           : "";
}

.galaxy-switch-s1 input:checked~.switch-paddle {
  background: #13b3b3;
}

.galaxy-switch-s1 input:checked~.switch-paddle::after {
  left: 2.25rem;
}

.galaxy-switch-s1 input:disabled~.switch-paddle {
  cursor : not-allowed;
  opacity: 0.5;
}

/* tiny sizing */
.galaxy-switch-s1.tiny {
  height: 1.5rem;
}

.galaxy-switch-s1.tiny .switch-paddle {
  width    : 3rem;
  height   : 1.5rem;
  font-size: 0.625rem;
}

.galaxy-switch-s1.tiny .switch-paddle::after {
  top   : 0.25rem;
  left  : 0.25rem;
  width : 1rem;
  height: 1rem;
}

.galaxy-switch-s1.tiny input:checked~.switch-paddle::after {
  left: 1.75rem;
}

/* small sizing */
.galaxy-switch-s1.small {
  height: 1.75rem;
}

.galaxy-switch-s1.small .switch-paddle {
  width    : 3.5rem;
  height   : 1.75rem;
  font-size: 0.75rem;
}

.galaxy-switch-s1.small .switch-paddle::after {
  top   : 0.25rem;
  left  : 0.25rem;
  width : 1.25rem;
  height: 1.25rem;
}

.galaxy-switch-s1.small input:checked~.switch-paddle::after {
  left: 2rem;
}

/* large sizing */
.galaxy-switch-s1.large {
  height: 2.5rem;
}

.galaxy-switch-s1.large .switch-paddle {
  width    : 5rem;
  height   : 2.5rem;
  font-size: 1rem;
}

.galaxy-switch-s1.large .switch-paddle::after {
  top   : 0.25rem;
  left  : 0.25rem;
  width : 2rem;
  height: 2rem;
}

.galaxy-switch-s1.large input:checked~.switch-paddle::after {
  left: 2.75rem;
}

/* inner labels */
.galaxy-switch-s1 .switch-active,
.switch-inactive {
  position         : absolute;
  top              : 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform    : translateY(-50%);
  transform        : translateY(-50%);
}

.galaxy-switch-s1 .switch-inactive {
  right: 15%;
}

.galaxy-switch-s1 .switch-active {
  left   : 8%;
  display: none;
}

.galaxy-switch-s1 input:checked+label>.switch-active {
  display: block;
}

.galaxy-switch-s1 input:checked+label>.switch-inactive {
  display: none;
}

/* rounded */
.galaxy-switch-s1.rounded .switch-paddle {
  border-radius: 30px !important;
}

.galaxy-switch-s1.rounded .switch-paddle::after {
  border-radius: 40px !important;
}

/* with animation */
.galaxy-switch-s1.anime .switch-paddle:active:after {
  width: 2rem;
}

.galaxy-switch-s1.anime input:checked~.switch-paddle::after {
  left     : calc(100% - 4px);
  transform: translateX(-100%);
}

/* linear */
.galaxy-switch-s1.linear .switch-paddle {
  height       : 2px;
  border-radius: 15px;
  margin       : 15px 0 0 0;
  width        : 3rem;
}

.galaxy-switch-s1.linear .switch-paddle:after {
  background   : #cacaca;
  border-radius: 50px !important;
  top          : -0.6rem;
  left         : 0;
}

.galaxy-switch-s1.linear input:checked~.switch-paddle::after {
  left      : 1.55rem;
  background: #13b3b3;
  box-shadow: 0 0px 15px -4px #13b3b3;
}

/* ==== sizing ==== */
/* tiny */
.galaxy-switch-s1.linear.tiny .switch-paddle {
  height: 2px;
  width : 2.25rem;
  margin: 11px 0 0 0;
}

.galaxy-switch-s1.linear.tiny .switch-paddle:after {
  top: -0.5rem;
}

.galaxy-switch-s1.linear.tiny input:checked~.switch-paddle::after {
  left: 1.25rem;
}

/* small */
.galaxy-switch-s1.linear.small .switch-paddle {
  height: 2px;
  width : 2.5rem;
  margin: 13px 0 0 0;
}

.galaxy-switch-s1.linear.small .switch-paddle:after {
  top: -0.5rem;
}

.galaxy-switch-s1.linear.small input:checked~.switch-paddle::after {
  left: 1.25rem;
}

/* large */
.galaxy-switch-s1.linear.large .switch-paddle {
  margin: 20px 0 0 0;
}

.galaxy-switch-s1.linear.large .switch-paddle {
  height: 2px;
  width : 4rem;
}

.galaxy-switch-s1.linear.large .switch-paddle:after {
  top: -1rem;
}

.galaxy-switch-s1.linear.large input:checked~.switch-paddle::after {
  left: 2rem;
}

/*
  -------------------------------------------
  Galaxy checkbox
  -------------------------------------------
  */
.galaxy-checkbox {
  z-index      : 0;
  position     : relative;
  display      : block;
  margin-bottom: 15px;
}

.galaxy-checkbox>input {
  appearance        : none;
  -moz-appearance   : none;
  -webkit-appearance: none;
  z-index           : -1;
  position          : absolute;
  right             : -9px;
  top               : -7px;
  display           : block;
  margin            : 0;
  border-radius     : 50%;
  width             : 40px;
  height            : 40px;
  background-color  : rgba(0, 0, 0, 0.3);
  box-shadow        : none;
  outline           : none;
  opacity           : 0;
  transform         : scale(1);
  pointer-events    : none;
  transition        : opacity 0.3s, transform 0.2s;
}

.galaxy-checkbox>span {
  display: inline-block;
  width  : 100%;
  cursor : pointer;
}

.galaxy-checkbox>span:before {
  content       : "";
  display       : inline-block;
  box-sizing    : border-box;
  margin        : 0 0 0 9px;
  border        : solid 1px;
  /* Safari */
  border-color  : rgba(0, 0, 0, 0.3);
  border-radius : 2px;
  width         : 22px;
  height        : 22px;
  vertical-align: top;
  transition    : border-color 0.2s, background-color 0.2s;
}

.galaxy-checkbox>span:after {
  content     : "";
  display     : block;
  position    : absolute;
  top         : 1px;
  right       : 6px;
  width       : 14px;
  height      : 7px;
  border      : solid 2px transparent;
  border-right: none;
  border-top  : none;
  transform   : translate(3px, 4px) rotate(-45deg);
}

.galaxy-checkbox>input:checked,
.galaxy-checkbox>input:indeterminate {
  background-color: #13b3b3;
}

.galaxy-checkbox>input:checked+span:before,
.galaxy-checkbox>input:indeterminate+span:before {
  border-color    : #13b3b3;
  background-color: #13b3b3;
}

.galaxy-checkbox>input:checked+span:after,
.galaxy-checkbox>input:indeterminate+span:after {
  border-color: #fff;
}

.galaxy-checkbox>input:indeterminate+span:after {
  border-left: none;
  transform  : translate(4px, 3px);
}

.galaxy-checkbox:hover>input {
  opacity: 0.04;
}

.galaxy-checkbox>input:focus {
  opacity: 0.12;
}

.galaxy-checkbox:hover>input:focus {
  opacity: 0.16;
}

.galaxy-checkbox>input:active {
  opacity   : 1;
  transform : scale(0);
  transition: transform 0s, opacity 0s;
}

.galaxy-checkbox>input:active+span:before {
  border-color: #13b3b3;
}

.galaxy-checkbox>input:checked:active+span:before {
  border-color    : transparent;
  background-color: rgba(0, 0, 0, 0.3);
}

.galaxy-checkbox>input:disabled {
  opacity: 0;
}

.galaxy-checkbox>input:disabled+span {
  color : rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  cursor: initial;
}

.galaxy-checkbox>input:disabled+span:before {
  border-color: currentColor;
}

.galaxy-checkbox>input:checked:disabled+span:before,
.galaxy-checkbox>input:indeterminate:disabled+span:before {
  border-color    : transparent;
  background-color: currentColor;
}

/*
  -------------------------------------------
  Galaxy radio buttons
  -------------------------------------------
  */
.galaxy-radio-group {
  display            : -webkit-flex;
  display            : -moz-flex;
  display            : -ms-flex;
  display            : -o-flex;
  display            : flex;
  -webkit-align-items: flex-start;
  -moz-align-items   : flex-start;
  -ms-align-items    : flex-start;
  -o-align-items     : flex-start;
  align-items        : flex-start;
  -webkit-flex-wrap  : wrap;
  -moz-flex-wrap     : wrap;
  -ms-flex-wrap      : wrap;
  -o-flex-wrap       : wrap;
  flex-wrap          : wrap;
}

.galaxy-radio-group .galaxy-radio {
  margin: 0 20px 0 0;
}

/*  */
.galaxy-radio {
  margin: 0.5rem;
}

.galaxy-radio input[type="radio"] {
  position: absolute;
  opacity : 0;
}

.galaxy-radio input[type="radio"]+label:before {
  content       : "";
  background    : #f4f4f4;
  border-radius : 100%;
  border        : 1px solid #b4b4b4;
  display       : inline-block;
  width         : 1.4em;
  height        : 1.4em;
  position      : relative;
  top           : 0;
  margin-right  : 7px;
  vertical-align: top;
  cursor        : pointer;
  text-align    : center;
  transition    : all 250ms ease;
}

.galaxy-radio input[type="radio"]:checked+label:before {
  background-color: #13b3b3;
  box-shadow      : inset 0 0 0 4px #f4f4f4;
}

.galaxy-radio input[type="radio"]:focus+label:before {
  outline     : none;
  border-color: #13b3b3;
}

.galaxy-radio input[type="radio"]:disabled+label:before {
  box-shadow  : inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background  : #b4b4b4;
}

.galaxy-radio input[type="radio"]+label:empty:before {
  margin-right: 0;
}

/*
  -------------------------------------------
  Galaxy buttons
  -------------------------------------------
  */
.galaxy-button {
  background   : #13b3b3;
  color        : #fff;
  padding      : 12px 30px;
  margin       : 5px;
  margin-bottom: 15px;
  border       : 0 none;
  border-radius: 5px;
  transition   : 0.35s;
  font-family:  iranyekan;
}

.galaxy-button:hover {
  box-shadow: 0 7px 30px -9px rgba(0, 0, 0, 0.5);
  transition: 0.35s;
}

/* disable button */
.galaxy-disable {
  background   : #ccc;
  color        : #000;
  padding      : 12px 30px;
  margin       : 0;
  margin-bottom: 15px;
  border       : 0 none;
  border-radius: 5px;
  transition   : 0.35s;
}

.galaxy-disable:hover {
  box-shadow: 0 7px 30px -9px rgba(0, 0, 0, 0.5);
  transition: 0.35s;
}

/*
  -------------------------------------------
  Galaxy textarea
  -------------------------------------------
  */
.galaxy-textarea {
  position   : relative;
  padding-top: 20px;
  margin     : 0 0 15px 0;
}

.galaxy-textarea textarea {
  outline      : none;
  z-index      : 1;
  position     : relative;
  background   : none;
  width        : 100%;
  /* height    : 50px; */
  border: 0 none !important;
  color        : #13b3b3;
  font-size    : 14pt;
  font-weight  : 300;
  padding-right: 35px;
  resize       : none;
}

.galaxy-textarea .mdi {
  position      : absolute;
  right         : 5px;
  bottom        : 5px;
  font-size     : 18pt;
  color         : rgba(0, 0, 0, 0.2);
  pointer-events: none;
  user-select   : none;
}

.galaxy-textarea label {
  position   : absolute;
  right       : 0;
  color      : #999;
  font-size  : 11pt;
  font-weight: 300;
  transition : 0.35s ease;
  top        : 20px;
  margin     : 0;
}

.galaxy-textarea .bar {
  position: absolute;
  left    : 0;
  bottom  : 0;
  width   : 100%;
  height  : 2px;
}

.galaxy-textarea .bar:before {
  content   : "";
  position  : absolute;
  background: #13b3b3;
  width     : 0;
  height    : 2px;
  transition: 0.2s ease;
  left      : 0;
  z-index   : 1;
}

.galaxy-textarea .bar:after {
  content   : "";
  position  : absolute;
  background: rgba(0, 0, 0, 0.1);
  width     : 100%;
  height    : 2px;
  transition: 0.2s ease;
  left      : 0;
}

.galaxy-textarea textarea:focus~.bar:after,
.galaxy-textarea textarea:valid~.bar:after {
  width: 0;
  left : 0;
}

.galaxy-textarea:not(.has-val) textarea:focus~.bar:before {
  -webkit-animation-name     : bounceInLeft;
  animation-name             : bounceInLeft;
  -webkit-animation-duration : 1s;
  animation-duration         : 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
  animation-delay            : 0.25s;
}

.galaxy-textarea:not(.has-val) textarea:focus~label {
  color            : #999;
  -webkit-transform: translate(-20%, -100%) scale(0.6);
  transform        : translate(-20%, -100%) scale(0.6);
}

.galaxy-textarea textarea:valid~label,
.galaxy-textarea.has-val textarea~label {
  color            : #9d9d9d;
  -webkit-transform: translate(-20%, -100%) scale(0.6);
  transform        : translate(-20%, -100%) scale(0.6);
}

.galaxy-textarea.has-val textarea~.bar:before {
  width: 100%;
}

@keyframes bounceInLeft {
  0% {
    width: 0%;
  }

  40% {
    width: 103%;
  }

  50% {
    width: 97%;
  }

  70% {
    width: 102%;
  }

  80% {
    width: 99%;
  }

  100% {
    width: 100%;
  }
}

/*
  -------------------------------------------
  Galaxy captcha
  -------------------------------------------
  */
.galaxy-captcha {
  display            : -webkit-flex;
  display            : -moz-flex;
  display            : -ms-flex;
  display            : -o-flex;
  display            : flex;
  -webkit-align-items: flex-end;
  -moz-align-items   : flex-end;
  -ms-align-items    : flex-end;
  -o-align-items     : flex-end;
  align-items        : flex-end;
}

.galaxy-captcha .CaptchaTxtField {
  cursor: pointer;
  width : 150px;
  margin: 0 0 10px 10px;
}

.galaxy-captcha canvas {
  width        : 100%;
  border-radius: 5px;
  overflow     : hidden;
  border       : 1px solid rgba(0, 0, 0, 0.1);
}

.galaxy-captcha .galaxy-input {
  flex-grow: 1;
}

/*
  -------------------------------------------
  Galaxy select box
  -------------------------------------------
  */
.galaxy-select {
  position     : relative;
  padding-top  : 45px;
  font-family: iranyekan;
  margin-bottom: 15px;
}

.galaxy-select label {
  position      : absolute;
  right         : 0;
  color         : #4a4b4d;
  font-size     : 12pt;
  font-weight   : 300;
  transition    : 0.35s ease;
  font-family: iranyekan;
  bottom        : 10px;
  margin        : 0;
  user-select   : none;
  pointer-events: none;
}

.galaxy-select select:focus~label,
.galaxy-select select.has-val~label {
  color            : #999;
  -webkit-transform: translate(20%, -100%) scale(0.6);
  transform        : translate(20%, -100%) scale(0.6);
  font-family: iranyekan;
}

.galaxy-select select {
  outline           : none;
  color             : #13b3b3;
  height            : 50px;
  display           : block;
  background        : none;
  padding           : 0;
  border            : 0 none !important;
  width             : 100%;
  box-shadow        : none !important;
  opacity           : 0.001;
  font-family: iranyekan;
  transition        : opacity 0.28s ease;
  will-change       : opacity;
  -webkit-appearance: none;
  -moz-appearance   : none;
  appearance        : none;
  cursor            : pointer;
  font-size         : 14pt;
  font-weight       : 300;
  padding-left     : 35px;
}

.galaxy-select select option {
  color: #333;
  font-family: iranyekan;
}

.galaxy-select select:-ms-input-placeholder {
  color           : #a6a6a6;
  transform       : scale(0.9);
  transform-origin: left top;
  font-family: iranyekan;
}

.galaxy-select select:-webkit-input-placeholder {
  color                   : #a6a6a6;
  -webkit-transform       : scale(0.9);
  transform               : scale(0.9);
  -webkit-transform-origin: left top;
  transform-origin        : left top;
  font-family: iranyekan;
}

.galaxy-select select:-ms-input-placeholder {
  color           : #a6a6a6;
  transform       : scale(0.9);
  transform-origin: left top;
  font-family: iranyekan;
}

.galaxy-select select:placeholder {
  color                   : #a6a6a6;
  -webkit-transform       : scale(0.9);
  transform               : scale(0.9);
  -webkit-transform-origin: left top;
  transform-origin        : left top;
  font-family: iranyekan;
}

.galaxy-select select.has-val,
.galaxy-select select:focus {
  opacity: 1;
  font-family: iranyekan;
}

.galaxy-select .form-select-placeholder {
  color  : #a6a6a6;
  display: none;
  font-family: iranyekan;
}

.galaxy-select .bar {
  position: absolute;
  right    : 0;
  bottom  : 0;
  width   : 100%;
  height  : 2px;
  font-family: iranyekan;
}

.galaxy-select .bar:before {
  content   : "";
  position  : absolute;
  background: #13b3b3;
  width     : 0;
  height    : 2px;
  transition: 0.2s ease;
  right      : 0;
  z-index   : 1;
  font-family: iranyekan;
}

.galaxy-select .bar:after {
  content   : "";
  position  : absolute;
  background: rgba(0, 0, 0, 0.1);
  width     : 100%;
  height    : 2px;
  transition: 0.2s ease;
  left      : 0;
  font-family: iranyekan;
}

.galaxy-select select:focus~.bar:after {
  width: 0;
  left : 0;
  font-family: iranyekan;
}

.galaxy-select select:focus~.bar:before,
.galaxy-select select.has-val~.bar:before {
  -webkit-animation-name     : bounceInLeft;
  animation-name             : bounceInLeft;
  -webkit-animation-duration : 1s;
  animation-duration         : 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
  animation-delay            : 0.25s;
  font-family: iranyekan;
}

.galaxy-select .mdi {
  position      : absolute;
  left          : 5px;
  bottom        : 5px;
  font-size     : 18pt;
  color         : rgba(0, 0, 0, 0.2);
  pointer-events: none;
  user-select   : none;
  
}

/*
  -------------------------------------------
  Galaxy input - type number
  -------------------------------------------
  */
.galaxy-input input[type="number"] {
  -moz-appearance: textfield;
}

.galaxy-input input[type="number"]::-webkit-outer-spin-button,
.galaxy-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

/*
  -------------------------------------------
  Galaxy input - datepicker
  -------------------------------------------
  */
.galaxy-datepicker {
  position   : relative;
  padding-top: 20px;
  margin     : 0 0 15px 0;
}

.galaxy-datepicker input {
  outline      : none;
  z-index      : 1;
  position     : relative;
  background   : none;
  width        : 100%;
  height       : 50px;
  border       : 0;
  color        : #13b3b3;
  font-size    : 14pt;
  font-weight  : 300;
  padding-right: 35px;
}

.galaxy-datepicker .mdi {
  position      : absolute;
  right         : 5px;
  bottom        : 5px;
  font-size     : 18pt;
  color         : rgba(0, 0, 0, 0.2);
  pointer-events: none;
  user-select   : none;
}

.galaxy-datepicker label {
  position   : absolute;
  left       : 0;
  color      : #999;
  font-size  : 16pt;
  font-weight: 300;
  transition : 0.35s ease;
  bottom     : 10px;
  margin     : 0;
}

.galaxy-datepicker .bar {
  position: absolute;
  left    : 0;
  bottom  : 0;
  width   : 100%;
  height  : 2px;
}

.galaxy-datepicker .bar:before {
  content   : "";
  position  : absolute;
  background: #13b3b3;
  width     : 0;
  height    : 2px;
  transition: 0.2s ease;
  left      : 0;
  z-index   : 1;
}

.galaxy-datepicker .bar:after {
  content   : "";
  position  : absolute;
  background: rgba(0, 0, 0, 0.1);
  width     : 100%;
  height    : 2px;
  transition: 0.2s ease;
  left      : 0;
}

.galaxy-datepicker input:focus~.bar:after {
  width: 0;
  left : 0;
}

.galaxy-datepicker:not(.has-val) input:focus~.bar:before {
  -webkit-animation-name     : bounceInLeft;
  animation-name             : bounceInLeft;
  -webkit-animation-duration : 1s;
  animation-duration         : 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
  animation-delay            : 0.25s;
}

.galaxy-datepicker:not(.has-val) input:focus~label {
  color            : #999;
  -webkit-transform: translate(-20%, -100%) scale(0.6);
  transform        : translate(-20%, -100%) scale(0.6);
}

/* .galaxy-datepicker input:valid ~ label, */
.galaxy-datepicker.has-val input~label {
  color            : #9d9d9d;
  -webkit-transform: translate(-20%, -100%) scale(0.6);
  transform        : translate(-20%, -100%) scale(0.6);
}

.galaxy-datepicker.has-val input~.bar:before {
  width: 100%;
}

@keyframes bounceInLeft {
  0% {
    width: 0%;
  }

  40% {
    width: 103%;
  }

  50% {
    width: 97%;
  }

  70% {
    width: 102%;
  }

  80% {
    width: 99%;
  }

  100% {
    width: 100%;
  }
}

/*
  -------------------------------------------
  Galaxy date & time picker
  -------------------------------------------
  */
.ha-dp-btn,
.ha-dp-next-btn,
.ha-dp-prev-btn {
  background-repeat: no-repeat;
  outline          : 0;
  cursor           : pointer;
}

@font-face {
  font-family: Yekan;
  src        : url(../font/ha-dp-fonts/Yekan.woff) format("woff");
  font-weight: 400;
  font-style : normal;
}

@font-face {
  font-family: "DIN NEXTTM ARABIC";
  src        : url(../font/ha-dp-fonts/subset-DINNextLTW23-Regular.woff2) format("woff2"),
    url(../font/ha-dp-fonts/subset-DINNextLTW23-Regular.woff) format("woff");
  font-weight: 400;
  font-style : normal;
}

@font-face {
  font-family: Roboto;
  src        : url(../font/ha-dp-fonts/Roboto-Regular.woff) format("woff"),
    url(../font/ha-dp-fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style : normal;
}

.ha-datetimepicker .ha-dp-btn,
.ha-datetimepicker .ha-dp-clock-ampm-btn:after,
.ha-datetimepicker .ha-dp-header,
.ha-datetimepicker .ha-dp-month-dropdown,
.ha-datetimepicker .ha-dp-year-dropdown {
  background-color: #13b3b3;
}

.ha-datetimepicker {
  pointer-events    : none;
  opacity           : 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition   : all 0.5s ease-out;
  -ms-transition    : all 0.5s ease-out;
  -o-transition     : all 0.5s ease-out;
  transition        : all 0.5s ease-out;
}

.ha-datetimepicker.en,
.ha-datetimepicker.en * {
  font-family: Roboto, sans-serif !important;
}

.ha-datetimepicker.fa,
.ha-datetimepicker.fa * {
  font-family: Yekan, sans-serif !important;
}

.ha-datetimepicker.ar,
.ha-datetimepicker.ar * {
  font-family: "DIN NEXTTM ARABIC", sans-serif !important;
}

.ha-datetimepicker .ha-dp-dim {
  position          : fixed;
  background        : rgba(0, 0, 0, 0.5) !important;
  top               : 0;
  left              : 0;
  right             : 0;
  bottom            : 0;
  height            : 100%;
  opacity           : 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition   : all 0.3s ease-out;
  -ms-transition    : all 0.3s ease-out;
  -o-transition     : all 0.3s ease-out;
  transition        : all 0.3s ease-out;
}

.ha-datetimepicker.show {
  pointer-events: all;
  opacity       : 1;
}

.ha-datetimepicker.timePickerOnly .ha-dp-cell,
.ha-datetimepicker.timePickerOnly .ha-dp-footer,
.ha-datetimepicker.timePickerOnly .ha-dp-header {
  opacity: 0;
}

.ha-datetimepicker.show .ha-dp-dim {
  opacity: 1;
}

.ha-datetimepicker-container {
  display           : table;
  margin            : auto;
  font-family       : Yekan, Tahoma, Geneva, Verdana, sans-serif;
  background-color  : #fff;
  overflow          : hidden;
  position          : fixed;
  border-radius     : 4px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition   : all 0.4s ease-out;
  -o-transition     : all 0.4s ease-out;
  transition        : all 0.4s ease-out;
  -webkit-transform : translate(-50%, -50%) scale(1.05);
  -moz-transform    : translate(-50%, -50%) scale(1.05);
  -ms-transform     : translate(-50%, -50%) scale(1.05);
  -o-transform      : translate(-50%, -50%) scale(1.05);
  transform         : translate(-50%, -50%) scale(1.05);
  opacity           : 0;
  z-index           : 9999;
  min-width         : max-content;
  min-width         : -moz-fit-content;
  direction         : ltr;
  top               : 50%;
  left              : 50%;
  box-shadow        : 0 126px 138px 0 #000, 0 135px 165px 0 #000;
  box-shadow        : 0 126px 138px 0 rgba(0, 0, 0, 0.22),
    0 135px 165px 0 rgba(0, 0, 0, 0.21);
  text-rendering: optimizeSpeed;
}

.ha-datetimepicker.show .ha-datetimepicker-container {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform   : translate(-50%, -50%) scale(1);
  transform        : translate(-50%, -50%) scale(1);
  box-shadow       : 0 16px 28px 0 #000, 0 25px 55px 0 #000;
  box-shadow       : 0 16px 28px 0 rgba(0, 0, 0, 0.22),
    0 25px 55px 0 rgba(0, 0, 0, 0.21);
  opacity: 1;
}

.ha-datetimepicker * {
  font-family   : Yekan, Tahoma, Geneva, Verdana, sans-serif;
  font-weight   : 400;
  text-rendering: geometricPrecision;
}

.ha-dp-next-btn,
.ha-dp-prev-btn {
  color              : transparent;
  display            : inline-block;
  width              : 45px;
  height             : 45px;
  padding            : 10px;
  font-size          : 0;
  background-color   : transparent;
  border             : none;
  background-image   : url(../images/spritesheet-light.png);
  background-position: 14px 8px;
}

.ha-dp-header,
.ha-dp-month-item:hover,
.ha-dp-year-item:hover {
  color: #fff;
}

.ha-dp-next-btn {
  float: right;
}

.ha-dp-prev-btn {
  float            : left;
  -webkit-transform: rotateZ(180deg);
  -moz-transform   : rotateZ(180deg);
  -ms-transform    : rotateZ(180deg);
  -o-transform     : rotateZ(180deg);
  transform        : rotateZ(180deg);
}

.ha-dp-next-btn:hover,
.ha-dp-prev-btn:hover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.ha-dp-body {
  padding            : 5px;
  font-size          : 13px;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}

.ha-dp-clock-face,
.ha-dp-header {
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
}

.ha-dp-days-container {
  padding                          : 0;
  -moz-animation-iteration-count   : 1;
  -o-animation-iteration-count     : 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count        : 1;
}

.ha-dp-days-container.page-left {
  -moz-animation-name   : page-left;
  -o-animation-name     : page-left;
  -webkit-animation-name: page-left;
  animation-name        : page-left;
}

.ha-dp-days-container.page-right {
  -moz-animation-name        : page-left;
  -o-animation-name          : page-left;
  -webkit-animation-name     : page-left;
  animation-name             : page-left;
  -moz-animation-direction   : reverse;
  -o-animation-direction     : reverse;
  -webkit-animation-direction: reverse;
  animation-direction        : reverse;
}

.ha-dp-header {
  background-color  : #4a5867;
  position          : relative;
  padding           : 5px 0;
  user-select       : none;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition   : background-color 0.5s ease;
  -o-transition     : background-color 0.5s ease;
  transition        : background-color 0.5s ease;
  box-shadow        : 0 8px 17px 0 #000, 0 6px 20px 0 #000;
  box-shadow        : 0 8px 17px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  text-shadow       : 0 1px 0 #000;
  text-shadow       : 0 1px 0 rgba(0, 0, 0, 0.2);
}

.ha-dp-month,
.ha-dp-year {
  text-align: center;
}

.ha-dp-month-dropdown-container,
.ha-dp-year-dropdown-container {
  display : inline-table;
  margin  : auto;
  position: relative;
}

.ha-dp-month-btn,
.ha-dp-year-btn {
  background-color: transparent;
  position        : relative;
  display         : inline-block;
  outline         : 0;
  border          : none;
  height          : 45px;
  padding         : 10px;
  width           : 100px;
  color           : #fff;
  cursor          : pointer;
  line-height     : 1;
  font-size       : 14px;
}

.ha-dp-month-dropdown::-webkit-scrollbar,
.ha-dp-year-dropdown::-webkit-scrollbar {
  width: 5px;
}

.ha-dp-month-dropdown::-webkit-scrollbar-track,
.ha-dp-year-dropdown::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.ha-dp-month-dropdown::-webkit-scrollbar-thumb,
.ha-dp-year-dropdown::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
}

.ha-dp-month-dropdown::-webkit-scrollbar-thumb:hover,
.ha-dp-year-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #00bfff;
}

.ha-dp-month-btn:focus,
.ha-dp-month-btn:hover,
.ha-dp-year-btn:focus,
.ha-dp-year-btn:hover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.ha-dp-month-item:hover,
.ha-dp-year-item.selected,
.ha-dp-year-item:hover {
  background-color: #00bfff;
}

.ha-dp-month-dropdown,
.ha-dp-year-dropdown {
  position          : absolute;
  left              : 0;
  top               : 100%;
  right             : 0;
  opacity           : 0;
  overflow          : hidden;
  -webkit-transition: 0.2s ease-out all;
  -o-transition     : 0.2s ease-out all;
  -moz-transition   : 0.2s ease-out all;
  -ms-transition    : 0.2s ease-out all;
  transition        : 0.2s ease-out all;
  pointer-events    : none;
  -webkit-transform : translateY(5px);
  -moz-transform    : translateY(5px);
  -ms-transform     : translateY(5px);
  -o-transform      : translateY(5px);
  transform         : translateY(5px);
  box-shadow        : 0 12px 15px 0 #000, 0 17px 50px 0 #000;
  box-shadow        : 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  list-style: none;
  padding   : 0;
  margin    : 0;
  z-index   : 1000;
  max-height: 320px;
}

.ha-dp-month-dropdown.show,
.ha-dp-year-dropdown.show {
  opacity          : 1;
  pointer-events   : all;
  -webkit-transform: translateY(0);
  -moz-transform   : translateY(0);
  -ms-transform    : translateY(0);
  -o-transform     : translateY(0);
  transform        : translateY(0);
  overflow-y       : auto;
}

.ha-dp-month-item,
.ha-dp-year-item {
  display       : list-item;
  border        : none;
  width         : 100%;
  height        : 33px;
  line-height   : 35px;
  text-align    : center;
  cursor        : pointer;
  pointer-events: none;
  font-size     : 13px;
}

.ha-dp-cell,
.ha-dp-result {
  height    : 30px;
  text-align: center;
  direction : ltr !important;
}

.ha-dp-month-dropdown.show .ha-dp-month-item,
.ha-dp-year-dropdown.show .ha-dp-year-item {
  position      : static;
  pointer-events: all;
}

.ha-dp-list-separator {
  border        : none;
  border-bottom : 1px solid #455565;
  margin        : 4px 0;
  pointer-events: none;
}

.ha-dp-cell {
  box-sizing         : content-box;
  user-select        : none;
  display            : inline-block;
  border             : 1px solid transparent;
  border-radius      : 2px;
  width              : 30px;
  line-height        : 30px;
  margin             : 6px;
  color              : #4a5867;
  cursor             : pointer;
  -webkit-transition : 0.2s ease-out all;
  -o-transition      : 0.2s ease-out all;
  -moz-transition    : 0.2s ease-out all;
  -ms-transition     : 0.2s ease-out all;
  transition         : 0.2s ease-out all;
  opacity            : 1;
  position           : relative;
  font-size          : 15px;
  backface-visibility: hidden;
}

.ha-dp-ampm,
.ha-dp-clock-face,
.hours-clock-face {
  display: table;
  margin : auto;
}

.ha-dp-cell:after,
.ha-dp-cell:before {
  position: absolute;
  opacity : 0;
  right   : 0;
  left    : 0;
  top     : 0;
  bottom  : 0;
}

.ha-dp-cell:not(.ha-dp-cell-header):not(.ha-dp-cell-muted):not(.ha-dp-cell-selected):hover {
  background-color: #030303;
  background-color: rgba(3, 3, 3, 0.07);
}

.ha-dp-cell.ha-dp-cell-header {
  cursor        : default;
  text-transform: uppercase;
  font-size     : 14px;
}

.ha-dp-cell.ha-dp-cell-muted {
  color : #cecece;
  cursor: default;
}

.ha-dp-cell.ha-dp-cell-holiday {
  color: #ef6848;
}

.ha-dp-cell.ha-dp-cell-muted.ha-dp-cell.ha-dp-cell-holiday {
  color: #bc938a;
}

.ha-dp-cell.ha-dp-cell-currentdate {
  border-color: #ebebeb;
}

.ha-dp-cell.ha-dp-cell-selected {
  color: #fff;
}

.ha-dp-cell:before {
  content           : "";
  background-color  : #00bfff;
  color             : #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition   : all 0.3s ease-out;
  -o-transition     : all 0.3s ease-out;
  transition        : all 0.3s ease-out;
  -webkit-transform : scale(1.2);
  -moz-transform    : scale(1.2);
  -ms-transform     : scale(1.2);
  -o-transform      : scale(1.2);
  transform         : scale(1.2);
  border-radius     : 2px;
  box-shadow        : 0 8px 17px 0 #00bfff, 0 6px 20px 0 #00bfff;
  box-shadow        : 0 8px 17px 0 rgba(0, 191, 255, 0.26),
    0 6px 20px 0 rgba(0, 191, 255, 0.25);
}

.ha-dp-cell:after {
  content    : attr(data-disp);
  padding    : 0;
  line-height: 30px;
}

.ha-dp-btn:hover:before,
.ha-dp-clock-ampm-btn:after,
.ha-dp-clock-face:after {
  content: "";
}

.ha-dp-cell.ha-dp-cell-selected:before {
  -webkit-transform: scale(1);
  -moz-transform   : scale(1);
  -ms-transform    : scale(1);
  -o-transform     : scale(1);
  transform        : scale(1);
  opacity          : 1;
}

.ha-dp-cell.ha-dp-cell-selected:after {
  opacity: 1;
}

.ha-dp-footer {
  border-top: 1px solid #ebebeb;
  padding   : 5px 0;
}

.ha-dp-result {
  direction  : rtl;
  line-height: 32px;
  margin     : 0;
  font-size  : 18px;
  color      : #666;
}

.ha-dp-buttons {
  display: table;
  margin : auto;
}

.ha-dp-btn {
  border            : none;
  background-color  : #4a5867;
  position          : relative;
  border-radius     : 2px;
  margin            : 5px;
  color             : transparent;
  font-size         : 0;
  width             : 35px;
  height            : 35px;
  background-image  : url(../images/spritesheet-light.png);
  -webkit-transition: background-color 0.5s ease;
  -moz-transition   : background-color 0.5s ease;
  -o-transition     : background-color 0.5s ease;
  transition        : background-color 0.5s ease;
  box-shadow        : 0 8px 17px 0 #000, 0 6px 20px 0 #000;
  box-shadow        : 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ha-dp-clock,
.ha-dp-clock-ampm-btn:after {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition   : all 0.3s ease-out;
  -o-transition     : all 0.3s ease-out;
}

.ha-dp-btn.ha-dp-ok-btn {
  background-position: -24px 3px;
}

.ha-dp-btn.ha-dp-cancel-btn {
  background-position: -51px 3px;
}

.ha-dp-btn:hover:before {
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  position        : absolute;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.ha-dp-clock {
  background-color : #fff;
  font-family      : Roboto, sans-serif;
  position         : absolute;
  left             : 0;
  width            : 100%;
  height           : 100%;
  top              : 0;
  -webkit-transform: scale(0.95);
  -moz-transform   : scale(0.95);
  -ms-transform    : scale(0.95);
  -o-transform     : scale(0.95);
  transform        : scale(0.95);
  opacity          : 0;
  transition       : all 0.3s ease-out;
  pointer-events   : none;
  z-index          : 2;
}

.ha-datetimepicker.show.clock .ha-dp-clock {
  pointer-events          : all;
  -webkit-transform       : scale(1);
  -moz-transform          : scale(1);
  -ms-transform           : scale(1);
  -o-transform            : scale(1);
  transform               : scale(1);
  -o-transition-delay     : 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay   : 0.3s;
  transition-delay        : 0.3s;
  opacity                 : 1;
}

.ha-dp-clock-header {
  padding: 24px 0;
}

.ha-dp-clock-face {
  position     : relative;
  width        : 300px;
  height       : 300px;
  border       : 1px solid #ebebeb;
  border-radius: 400px;
  box-shadow   : inset 0 0 3px 4px #646464;
  box-shadow   : inset 0 0 3px 4px rgba(100, 100, 100, 0.03);
  user-select  : none;
}

.hours-clock-face {
  position           : absolute;
  top                : 50%;
  left               : 50%;
  -webkit-transform  : translate(-50%, -50%);
  -moz-transform     : translate(-50%, -50%);
  -ms-transform      : translate(-50%, -50%);
  -o-transform       : translate(-50%, -50%);
  transform          : translate(-50%, -50%);
  width              : 200px;
  height             : 200px;
  border             : 1px solid #ebebeb;
  border-radius      : 400px;
  box-shadow         : inset 0 0 3px 4px #646464;
  box-shadow         : inset 0 0 3px 4px rgba(100, 100, 100, 0.03);
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}

.ha-dp-clock-num {
  width           : 19px;
  height          : 48%;
  position        : absolute;
  transform-origin: 10px 1px;
  left            : 46.5%;
  top             : 50%;
  pointer-events  : none;
}

.hours-clock-face .ha-dp-clock-num {
  left: 45%;
}

.ha-dp-clock-hour-hand,
.ha-dp-clock-minute-hand {
  position          : absolute;
  background-color  : #455565;
  border-radius     : 50px;
  pointer-events    : none;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition   : all 0.9s ease-in-out;
  -ms-transition    : all 0.9s ease-in-out;
  -o-transition     : all 0.9s ease-in-out;
  transition        : all 0.9s ease-in-out;
  box-shadow        : 0 0 3px 2px #646464;
  box-shadow        : 0 0 3px 2px rgba(100, 100, 100, 0.1);
  border            : 1px solid #fff;
  border            : 1px solid rgba(255, 255, 255, 0.3);
}

.ha-dp-clock-hour-hand {
  height          : 30%;
  width           : 9px;
  transform-origin: 5px 5px;
  left            : 47.2%;
  top             : 47%;
}

.ha-dp-clock-minute-hand {
  height          : 30%;
  width           : 5px;
  transform-origin: 3px 3px;
  left            : 49.1%;
  top             : 49%;
}

.ha-dp-clock-face:after {
  width            : 20px;
  height           : 20px;
  background-color : #fff;
  box-shadow       : 0 0 3px 4px #646464;
  box-shadow       : 0 0 3px 4px rgba(100, 100, 100, 0.03);
  border           : 1px solid #ebebeb;
  border-radius    : 200px;
  position         : absolute;
  left             : 50%;
  top              : 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform   : translate(-50%, -50%);
  -ms-transform    : translate(-50%, -50%);
  -o-transform     : translate(-50%, -50%);
  transform        : translate(-50%, -50%);
}

.ha-dp-clock-num .num {
  position          : absolute;
  bottom            : 0;
  font-size         : 14px;
  color             : #455565;
  border            : 1px solid transparent;
  border-radius     : 100px;
  cursor            : pointer;
  width             : 20px;
  height            : 20px;
  line-height       : 19px;
  text-align        : center;
  -webkit-transition: all 0.2s;
  -moz-transition   : all 0.2s;
  -o-transition     : all 0.2s;
  transition        : all 0.2s;
}

.ha-datetimepicker.show.clock .ha-dp-clock .ha-dp-clock-num .num {
  pointer-events: all;
}

.ha-dp-clock-num .num.dot {
  color: #ebebeb;
}

.ha-dp-clock-num .num:hover {
  color           : #4a5867;
  background-color: #ebebeb;
}

.ha-dp-clock-num .num.selected {
  background-color: #4a5867;
  color           : #fff;
  box-shadow      : 0 8px 17px 0 #000, 0 6px 20px 0 #000;
  box-shadow      : 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ha-dp-clock-ampm-btn {
  border          : none;
  outline         : 0;
  background-color: #ebebeb;
  border-radius   : 50px;
  width           : 50px;
  height          : 25px;
  vertical-align  : middle;
  font-size       : 0;
  color           : transparent;
  position        : relative;
  cursor          : pointer;
  box-shadow      : inset 0 8px 17px 0 #000, inset 0 6px 20px 0 #000;
  box-shadow      : inset 0 8px 17px 0 rgba(0, 0, 0, 0.06),
    inset 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.ha-dp-clock-ampm-btn:after {
  top             : 2px;
  width           : 21px;
  height          : 21px;
  background-color: #00bfff;
  position        : absolute;
  border-radius   : 50px;
  transition      : all 0.3s ease-out;
  box-shadow      : 0 8px 17px 0 #000, 0 6px 20px 0 #000;
  box-shadow      : 0 8px 17px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.ha-dp-clock-ampm-btn.am:after {
  left: 2px;
}

.ha-dp-clock-ampm-btn.pm:after {
  left: 27px;
}

.ha-dp-clock-am-btn,
.ha-dp-clock-pm-btn {
  padding           : 0;
  background-color  : rgba(0, 0, 0, 0) !important;
  border            : 0 none !important;
  margin            : 0 5px;
  border            : none;
  outline           : 0;
  display           : inline-block;
  color             : #ebebeb;
  cursor            : pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition   : all 0.3s ease-out;
  -o-transition     : all 0.3s ease-out;
  transition        : all 0.3s ease-out;
  font-size         : 20px;
  line-height       : 1;
  vertical-align    : middle;
}

.ha-dp-ampm *[type="button"] {
  border            : 0 none;
  background        : none !important;
  -webkit-appearance: initial !important;
  appearance        : initial !important;
}

.ha-dp-clock-am-btn.selected,
.ha-dp-clock-pm-btn.selected {
  color: #333;
}

.ha-dp-clock-res {
  width        : 100%;
  height       : 50px;
  line-height  : 55px;
  border-top   : 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  text-align   : center;
  font-size    : 25px;
  color        : #4a5867;
  direction    : ltr;
  margin       : 14px 0;
}

.ha-dp-clock-ok-btn {
  display            : table;
  margin             : auto;
  background-position: -24px 3px;
}

.ha-dp-clock-btn {
  background-position: -79px 4px;
  -webkit-transition : 0.3s ease-in-out all;
  -moz-transition    : 0.3s ease-in-out all;
  -ms-transition     : 0.3s ease-in-out all;
  -o-transition      : 0.3s ease-in-out all;
  transition         : 0.3s ease-in-out all;
}

.ha-datetimepicker.clock .ha-dp-clock-btn {
  background-color : #fff;
  background-image : none;
  border-radius    : 200px;
  -webkit-transform: scale(35);
  -moz-transform   : scale(35);
  -ms-transform    : scale(35);
  -o-transform     : scale(35);
  transform        : scale(35);
  pointer-events   : none;
}

@media (max-height: 517px) {
  .ha-datetimepicker-container {
    width: 510px;
  }

  .ha-dp-body,
  .ha-dp-clock-body,
  .ha-dp-clock-footer,
  .ha-dp-clock-header,
  .ha-dp-footer,
  .ha-dp-header {
    display: inline-block;
  }

  .ha-dp-clock-footer,
  .ha-dp-footer {
    width       : 190px;
    clear       : both;
    margin-top  : -90px;
    height      : 100px;
    border-right: 1px solid #ebebeb;
  }

  .ha-dp-month-dropdown,
  .ha-dp-year-dropdown {
    max-height: 220px;
  }

  .ha-dp-clock-header,
  .ha-dp-header {
    vertical-align: top;
    height        : 230px;
    width         : 190px;
  }

  .ha-dp-clock-footer {
    margin-bottom: 0;
    height       : 140px;
    margin-top   : -120px;
  }

  .ha-dp-clock-footer,
  .ha-dp-clock-header,
  .ha-dp-footer,
  .ha-dp-header {
    float: left;
  }

  .ha-dp-clock-header {
    border-right: 1px solid #ebebeb;
  }

  .ha-dp-clock-body {
    padding: 10px;
    float  : right;
  }
}

.ha-datetimepicker.no-anim,
.ha-datetimepicker.no-anim .ha-datetimepicker-container,
.ha-datetimepicker.no-anim .ha-dp-cell,
.ha-datetimepicker.no-anim .ha-dp-cell:before,
.ha-datetimepicker.no-anim .ha-dp-clock,
.ha-datetimepicker.no-anim .ha-dp-clock-am-btn,
.ha-datetimepicker.no-anim .ha-dp-clock-ampm-btn:after,
.ha-datetimepicker.no-anim .ha-dp-clock-btn,
.ha-datetimepicker.no-anim .ha-dp-clock-hour-hand,
.ha-datetimepicker.no-anim .ha-dp-clock-minute-hand,
.ha-datetimepicker.no-anim .ha-dp-clock-pm-btn,
.ha-datetimepicker.no-anim .ha-dp-days-container,
.ha-datetimepicker.no-anim .ha-dp-dim,
.ha-datetimepicker.no-anim .ha-dp-month-dropdown,
.ha-datetimepicker.no-anim .ha-dp-year-dropdown {
  animation : none;
  transition: none;
}

@keyframes page-left {

  0%,
  100% {
    opacity          : 1;
    -webkit-transform: scale(1);
    -moz-transform   : scale(1);
    -ms-transform    : scale(1);
    -o-transform     : scale(1);
    transform        : scale(1);
  }

  50% {
    opacity          : 0;
    -webkit-transform: scale(1.05);
    -moz-transform   : scale(1.05);
    -ms-transform    : scale(1.05);
    -o-transform     : scale(1.05);
    transform        : scale(1.05);
  }

  51% {
    opacity          : 0;
    -webkit-transform: scale(0.95);
    -moz-transform   : scale(0.95);
    -ms-transform    : scale(0.95);
    -o-transform     : scale(0.95);
    transform        : scale(0.95);
  }
}

@-moz-keyframes page-left {

  0%,
  100% {
    opacity          : 1;
    -webkit-transform: scale(1);
    -moz-transform   : scale(1);
    -ms-transform    : scale(1);
    -o-transform     : scale(1);
    transform        : scale(1);
  }

  50% {
    opacity          : 0;
    -webkit-transform: scale(1.05);
    -moz-transform   : scale(1.05);
    -ms-transform    : scale(1.05);
    -o-transform     : scale(1.05);
    transform        : scale(1.05);
  }

  51% {
    opacity          : 0;
    -webkit-transform: scale(0.95);
    -moz-transform   : scale(0.95);
    -ms-transform    : scale(0.95);
    -o-transform     : scale(0.95);
    transform        : scale(0.95);
  }
}

@-webkit-keyframes page-left {

  0%,
  100% {
    opacity          : 1;
    -webkit-transform: scale(1);
    -moz-transform   : scale(1);
    -ms-transform    : scale(1);
    -o-transform     : scale(1);
    transform        : scale(1);
  }

  50% {
    opacity          : 0;
    -webkit-transform: scale(1.05);
    -moz-transform   : scale(1.05);
    -ms-transform    : scale(1.05);
    -o-transform     : scale(1.05);
    transform        : scale(1.05);
  }

  51% {
    opacity          : 0;
    -webkit-transform: scale(0.95);
    -moz-transform   : scale(0.95);
    -ms-transform    : scale(0.95);
    -o-transform     : scale(0.95);
    transform        : scale(0.95);
  }
}